# vim-like/vscode-like binds
next_page <C-d>
previous_page <C-u>
open_document_embedded <D-p>
open_document_embedded_from_current_path <D-o>
prev_state <C-o>
next_state <C-i>

# I know this looks backwards, but it's more intuitive for your brain like this
move_left l 
move_right h

# semi-colon separated list
# - start in custom color mode
startup_commands toggle_custom_color;

# rebind new and close window
new_window <D-n>
close_window <D-w>

