# === rose pine dawn === #
background_color           #faf4ed

text_highlight_color       #ea9d34
visual_mark_color          #9893a5

search_highlight_color     #ea9d34
link_highlight_color       #907aa9
synctex_highlight_color    #286983

highlight_color_a          #ea9d34
highlight_color_b          #286983
highlight_color_c          #56949f
highlight_color_d          #b4637a
highlight_color_e          #907aa9
highlight_color_f          #b4637a
highlight_color_g          #ea9d34


custom_background_color    #faf4ed
custom_text_color          #575279

ui_text_color              #575279
ui_background_color        #fffaf3
ui_selected_text_color     #575279
ui_selected_background_color #f4ede8

macos_titlebar_color    #faf4ed

# dark_mode_background_color #faf4ed
status_bar_color #faf4ed
status_bar_text_color #575279

custom_color_mode_empty_background_color #faf4ed

